# === Mail servers and boxes ===
# IMAP server
IMAP_SERVER="imap.yandex.ru"

# IMAP port
IMAP_PORT=993

# SMTP server
SMTP_SERVER="smtp.yandex.ru"

# SMTP port
SMTP_PORT=465

# mailbox
MAILBOX_NAME=your-email@example.com

# pwd user password
MAILBOX_APP_PASSWORD=your-app-password

# === 7Rights ===
SEVEN_RIGHTS_API_BASE_URL=https://lk.7rights.ru/
SEVEN_RIGHTS_API_VERSION=api/v1/
SEVEN_RIGHTS_API_KEY=your-api-key
SEVEN_RIGHTS_API_AWAIT_TIMEOUT=30

# === Run mode (for logging): dev or prod ===
APP_ENV=prod